div.st-emotion-cache-1y4p8pa.ea3mdgi4{
    margin: auto;
    text-align: center;
}

div.st-emotion-cache-1kyxreq.e115fcil2{
    display: flex;
    justify-content: center;
}

div.st-emotion-cache-1kyxreq.e115fcil2 img{
    max-width: 300px;
}

div.st-emotion-cache-1v0mbdj.e115fcil1{
    display: flex;
    justify-content: center;
}

div.st-emotion-cache-1v0mbdj.e115fcil1 img{
    margin: auto;
}




